
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Avize</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="p-4">
        <h2 class="text-center">02_Certificat de Urbanism_nr.6_09.02.2024_THETA</h2>
        <div class="container">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center">Avize bifate</th>
                        <th class="text-center">Avize nebifate</th>
                    </tr>
                </thead>
                <tbody>
    
        <tr>
            <td>DADR</td>
            <td>alimentare cu apă</td>
        </tr>
        
        <tr>
            <td>MAPN</td>
            <td>gaze naturale</td>
        </tr>
        
        <tr>
            <td>alimentare cu energie electrică</td>
            <td>canalizare</td>
        </tr>
        
        <tr>
            <td>ANIF</td>
            <td>telefonizare</td>
        </tr>
        
        <tr>
            <td>securitatea la incendiu</td>
            <td>alimentare cu energie termică</td>
        </tr>
        
        <tr>
            <td>sănătatea populatiei</td>
            <td>transport urban</td>
        </tr>
        
        <tr>
            <td>SPLDP</td>
            <td>protecţia civilă</td>
        </tr>
        
                </tbody>
            </table>
        </div>
    </body>
    </html>
    